nav {
    background-color: #1153be;
}

h1 {
    font-family: sans-serif;
    color: #eee;
}

ul {
    align-content: right;
    background-color: #1153be;
}

button {
    background-color: #1153be;
    border: none;
    color: #eee;
    font-size: 16px;
    text-align: center;
}

button:hover {
    background-color: blue;
}

button:disabled {
    color:gray;
}