<div></div>
<div></div>
<button *ngIf="editMode" (click)="cancelEdit()">Cancel</button>
<button *ngIf="editMode" (click)="confirmEdit()">Done</button>
<button *ngIf="!editMode" (click)="startEdit()">Edit</button>
<div *ngIf="editMode">
    <div *ngFor="let term of currentTerms; let j = index">
        <input type="text" [(ngModel)]="term.term">
        <button (click)="removeTerm(j)">Remove Term</button>
        <div *ngFor="let meaning of term.meanings; let i = index;">
        <input type="text" [(ngModel)]="term.meanings[i]">
        <button (click)="removeMeaning(i)">Remove Meaning</button>
        </div>
        <button (click)="addMeaning(term)">Add Meaning</button>
    </div>
</div>
<button *ngIf="editMode" (click)="addTerm()">Add Term</button>

