<div>
    Number of Questions: 
    <form>
        <input type="number" name="questions" [(ngModel)]="numQuestions" 
        (ngModelChange)="changeNumQuestions()"> 
    </form>
</div>
<form class="question">
    Question:
    <input type="radio" name="term" value="term"
    [(ngModel)]="questionType" (ngModelChange)="changeQuestionType()">
    <label>Term </label>
    <input type="radio" name="meanings" value="meanings"
    [(ngModel)]="questionType" (ngModelChange)="changeQuestionType()">
    <label>Meanings </label>
    <input *ngIf="collectionID==4||collectionID==5" type="radio" name="lower" value="lower"
    [(ngModel)]="questionType" (ngModelChange)="changeQuestionType()"> 
    <label *ngIf="collectionID==4||collectionID==5">Lowercase </label>
    <input *ngIf="collectionID==5"type="radio" name="name" value="name"
    [(ngModel)]="questionType" (ngModelChange)="changeQuestionType()"> 
    <label *ngIf="collectionID==5">Name </label>
    <input *ngIf="collectionID==6"type="radio" name="readings" value="readings"
    [(ngModel)]="questionType" (ngModelChange)="changeQuestionType()">
    <label *ngIf="collectionID==6">Readings </label>
    <input *ngIf="collectionID==6"type="radio" name="romaji" value="romaji"
    [(ngModel)]="questionType" (ngModelChange)="changeQuestionType()">
    <label *ngIf="collectionID==6">Romaji </label>
</form>
<div>
    Number of Answers (1 for open-ended): 
    <form>
        <input type="number" name="answers" [(ngModel)]="numAnswers" 
        (ngModelChange)="changeNumAnswers()"> 
    </form>
</div>
<form class="answer">
    Answer: 
    <input type="radio" name="term" value="term"
    [(ngModel)]="answerType" (ngModelChange)="changeAnswerType()">
    <label>Term </label>
    <input type="radio" name="meanings" value="meanings"
    [(ngModel)]="answerType" (ngModelChange)="changeAnswerType()">
    <label>Meanings </label>
    <input *ngIf="collectionID==4||collectionID==5" type="radio" name="lower" value="lower"
    [(ngModel)]="answerType" (ngModelChange)="changeAnswerType()"> 
    <label *ngIf="collectionID==4||collectionID==5">Lowercase </label>
    <input *ngIf="collectionID==5"type="radio" name="name" value="name"
    [(ngModel)]="answerType" (ngModelChange)="changeAnswerType()"> 
    <label *ngIf="collectionID==5">Name </label>
    <input *ngIf="collectionID==6"type="radio" name="readings" value="readings"
    [(ngModel)]="answerType" (ngModelChange)="changeAnswerType()">
    <label *ngIf="collectionID==6">Readings </label>
    <input *ngIf="collectionID==6"type="radio" name="romaji" value="romaji"
    [(ngModel)]="answerType" (ngModelChange)="changeAnswerType()">
    <label *ngIf="collectionID==6">Romaji </label>
</form>
<button type = "button" (click)="startGame()"> Start Game </button>