<span *ngIf="term">
    <p>{{term.term}} </p>
    <div>
      <label for="term-meanings">Meanings: {{term.meanings}} </label>
    </div>
    <div *ngIf="isCyrillic">
      <label>Lowercase: {{cyrillicTerm?.lower}} </label>
    </div>
    <div *ngIf="isGreek">
      <label>Name: {{greekTerm?.name}} </label> <br>
      <label>Lowercase: {{greekTerm?.lower}} </label>
    </div>
    <div *ngIf="isKanji">
      <label>Readings: {{kanjiTerm?.readings}} </label> <br>
      <label>Romaji: {{kanjiTerm?.romaji}} </label> <br>
      <label>Grade: {{kanjiTerm?.grade}}, JLPT Level: N{{kanjiTerm?.jlpt}}, Number of Strokes: {{kanjiTerm?.strokes}}, Frequency: {{kanjiTerm?.rank}} </label>
    </div>
  
  </span>
