<app-main-routing></app-main-routing>
<li *ngIf="!hasStarted; else game">
    <app-game-settings (startGameEvent)="initializeGame()"
    [(numQuestions)]="properties.numQuestions"
    [(numAnswers)]="properties.numAnswers"
    [(questionType)]="properties.questionType"
    [(answerType)]="properties.answerType"
    [collectionID]="collectionID"></app-game-settings>
    Other Filters:
    <app-filtering [collectionID]="collectionID" [isGame]="true" [(filter)]="gameFilters"></app-filtering>
</li>
<ng-template #game>
    <app-multiple-choice [sessionID]="sessionID" (endGameEvent)="endGame()"></app-multiple-choice>
</ng-template>
