<app-main-routing [isDictionary]="false"></app-main-routing>
<li *ngIf="!hasStarted; else game">
    <app-game-settings (startGameEvent)="initializeGame()"
    [(numQuestions)]="numQuestions"
    [(numAnswers)]="numAnswers"
    [(isDiacritic)]="isDiacritic"
    [(questionType)]="questionType"
    [(answerType)]="answerType"
    [currentLevel]="settingLevel"></app-game-settings>
</li>
<ng-template #game>
    <app-multiple-choice [sessionID]="sessionID" (endGameEvent)="endGame()"></app-multiple-choice>
</ng-template>
