<nav>
    <ul>
      <a routerLink="/mainpage" routerLinkActive="active" ariaCurrentWhenActive="page">Main</a>
      <a *ngFor="let termCollection of presetCollections" 
      routerLink="/dictionary/{{termCollection.collectionID}}" 
      routerLinkActive="active" ariaCurrentWhenActive="page">
        {{termCollection.name}}
      </a>
    </ul>
</nav>
<nav>
  <ul>
  <a *ngIf="!isSignedIn" routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</a>
  <a *ngIf="!isSignedIn" routerLink="/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a>
  <a *ngIf="username" routerLink="/users/{{username}}" routerLinkActive="active" ariaCurrentWhenActive="page">{{username}}</a>
  <app-sign-out *ngIf="isSignedIn"></app-sign-out>
  </ul>
</nav>
