<h1> {{title}} </h1>

<nav>
    <ul>
      <a routerLink="/mainpage" routerLinkActive="active" ariaCurrentWhenActive="page">Main</a>
      <a *ngFor="let termCollection of presetCollections" 
      routerLink="/dictionary/{{termCollection.collectionID}}" 
      routerLinkActive="active" ariaCurrentWhenActive="page">
        {{termCollection.name}}
      </a>
      <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</a>
      <a routerLink="/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a>
    </ul>
</nav>

<router-outlet></router-outlet>